# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv


# PyCharm
.idea/


# Colcon/build/install
build/
install/
log/


# Docker image layers
*.tar


# Model files
*.pt
*.onnx


# VSCode
.vscode/


# macOS
.DS_Store